{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div id="" class="m-3" style="max-height: 100%;">
    <h1 class="text-center" style="margin-top: 3em; font-family: 'Workbench',sans-serif">INSCRIPTION</h1>

    <div class="text-center mt-4" style="width: 30%; margin-left: auto; margin-right: auto">
         {{ form_start(registrationForm) }}
        <p class="mb-0">E-mail</p>
        {{ form_row(registrationForm.email) }}
        <p class="mb-0">Mot de passe</p>
        {{  form_row(registrationForm.plainPassword) }}
        <p class="mt-2">{{ form_row(registrationForm.agreeTerms) }}</p>
        <button class="logboutton btn btn-dark mt-2 mb-2" type="submit">s'inscrire</button>

    </div>
</div>
    {{ form_end(registrationForm) }}
{% endblock %}
