{% extends "base.html.twig" %}

{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block body %}
    <h5 class="text-center">Admin</h5>
    <div class="d-flex justify-content-center">
        <button class="btn btn-info text-center">
            <a href="{{path('homepage')}}" style="text-decoration:none;color: white;">retour</a>
        </button>
    </div>
    <p class="text-center">Bonjour {{ user.email }} !</p>
    <div class="text-center">
    <h6>ARTICLES</h6>
    {% for article in articles %}
        <p class="inline">{{ article.title }}</p><a class="btn btn-primary" href="{{path('article_delete', { id : article.id }) }}" onclick="deleteAlert()">del</a>
    {% endfor %}
    </div>
    <h6>COMMENTAIRES</h6>
        {% for commentari in commentary %}
            <p>{{ commentari.comment }}</p>
        {% endfor %}



    <script>
        function deleteAlert() {
            if (confirm("Etes-vous sûr de supprimer cet article ?") === true) {
                return true;
            } else {
                event.stopPropagation();
                event.preventDefault();
            }
        }
    </script>
{% endblock %}