{% extends "base.html.twig" %}

{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block body %}
	<header class="py-2 bg-light border-bottom mb-4">
		<div class="text-center container">
			<div class="my-1" style="">
				<h1 class="" style="font-family:'Workbench', sans-serif;">Bienvenue chez vous</h1>
				<p style="font-family: 'Bahnschrift',sans-serif; max-width: 60%;margin-right: auto; margin-left: auto">Notre site à design modeste vous permet de feuilleter et de lire des articles ou commentaires déja laissés par la communauté,
				ou encore de créer un compte afin d'écrire articles et commentaires par vous-même !</p>
			</div>
		</div>
	</header>
	<main>
		<div id="calli" class="container border border-success-subtle rounded-5">
			<div class="responsive d-flex justify-content-center mt-1" style="margin: 0;">

				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<button class="btn btn-dark btn-sm m-2">
						<a href="{{ path('app_logout') }}" style="text-decoration:none;color: white">Deconnexion</a>
					</button>
					<button class="btn btn-dark btn-sm m-2">
						<a href="{{path('article_create')}}" style="text-decoration:none;color: white">Créer article</a>
					</button>

					{% if is_granted('ROLE_ADMIN') %}
						<button class="btn btn-dark btn-sm m-2">
							<a href="{{path('adminpage')}}" style="text-decoration:none;color: white">Espace admin</a>
						</button>
					{% endif %}

				{% else %}
					<button class="homelogin btn btn-dark btn-sm m-2 mt-3">
						<a href="{{path('app_login')}}" style="text-decoration:none;color: white">Connexion</a>
					</button>
					<button class="homelogin btn btn-dark btn-sm m-2 mt-3">
						<a href="{{path('inscription')}}" style="text-decoration:none;color: white">Inscription</a>
					</button>
				{% endif %}
			</div>

			<div class="d-flex justify-content-center form-group">
				{{ form_start(searchForm) }}
				<p>{{ form_row(searchForm.search) }}</p>
				{{ form_end(searchForm) }}
			</div>

			<div class="responsive d-flex row gx-2" style="margin-right: auto; margin-left: 6em;">
				<div id="tag_filtre"  class="font mb-3 ms-2" style="display: flex">
					{{ form_start(form) }}
					{{ form_end(form) }}
				</div>

				{% for article in pagination %}
					<div class="col col-4 mt-4">
							<div class="card" style="width: 17rem;">
								<img width="270" height="300" src="{{ asset('uploads/' ~ article.image) }}" alt="avion"/>
								<div class="card-body">
									<h4 id="font" class="card-title">{{ article.title }}</h4>
{#									<p id="font" class="card-text">{{ article.description }}</p>#}
									{% for tag in article.tags %}
										<p class="card-text btn btn-primary btn-sm">{{ tag }}</p>
									{% endfor %}
									<p class="card-text">{{ article.created|date("d/m/Y H:i:s") }}</p>
									<div class="text-center">
										<a href="{{ path('article_details', { id : article.id }) }}" class="btn btn-dark">Détails</a>
									</div>
								</div>
							</div>
						</div>

				{% endfor %}

			</div>
			<div class="d-flex justify-content-center text-dark mt-4" style="text-decoration: none">
				{{ knp_pagination_render(pagination) }}
			</div>
			<div class="d-flex justify-content-center mt-2" style="margin-bottom: 4em;">
				{{ form_start(forme) }}
				{{ form_row(forme) }}
				{{ form_end(forme) }}
			</div>
		</div>
	</main>

	<script src="{{ asset( 'js/script.js ') }}"></script>
=======
{% block body %}

	<header class="">
		<h1 class="text-center p-3 text-warning-emphasis bg-success-subtle border border-success-subtle rounded-5">Bobtche's Blog</h1>
		<p class="p-2">Blog crée le 06/06/2023 copyrights(r)</p>
		<div class="container">
			<p class="text-center h3">Welcome Mate ! !</p>

			<p class="text-center h4">Are you a lover of rap music or even the hip-hop culture as a whole ? You are at the right place !</p>

			<div class="d-flex justify-content-center">
				<button class="btn btn-primary">
					<span class="spinner-border spinner-border-sm"></span>
					Loading..
				</button>
			</div>
		</div>
	</header>


{% endblock %}
