{% extends "base.html.twig" %}

{% block body %}
	<header>
		<h1 class="text-center p-3 text-warning-emphasis bg-success-subtle border border-success-subtle rounded-5">Bobtche's Blog</h1>
	</header>
	<blockquote class="blockquote text-center">
		<p class="mb-2">Bienvenue à toi sur ce blog gorgé de design et de fonctionnalités !</p>

	<footer class="blockquote-footer">
		<cite title="Source Title">Leonardo DiCaprio</cite>
	</footer>
	</blockquote>
	<main>
		<div class="d-flex justify-content-center">
			{% if is_granted('IS_AUTHENTICATED') is same as( false ) %}

			<button class="btn btn-info text-center">
			<a href="{{path('inscription')}}" style="text-decoration:none;color: white;">I N S C R I P T I O N</a>
			</button>
			{% endif %}

		</div>

		<div class="d-flex justify-content-center" style="margin: 1em;">

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}

				<button class="btn btn-primary">
					<a href="{{ path('app_logout') }}" style="text-decoration:none;color: white">Deconnexion</a>
				</button>
				<button class="btn btn-primary">
						<a href="{{path('article_create')}}" style="text-decoration:none;color: white">Créer article</a>
				</button>

				{% elseif is_granted('IS_AUTHENTICATED_FULLY') is same as( false )  %}
					<button class="btn btn-primary">
						<a href="{{path('app_login')}}" style="text-decoration:none;color: white">Connexion</a>
					</button>
				{% else %}

			{% endif %}

{#			<button class="btn btn-primary">#}
{#				<a href="{{path('article_create')}}" style="text-decoration:none;color: white">Créer article</a>#}
{#			</button>#}
{#			<button>#}
{#				<a href="{{ path('app_logout') }}" style="text-decoration:none;color: white">Deconnexion</a>#}
{#			</button>#}
{#			<button class="btn btn-primary">#}
{#				<a href="{{path('inscription')}}" style="text-decoration:none;color: white;">I N S C R I P T I O N</a>#}
{#			</button>#}
		</div>

		<div id="calli" class="container px-4 bg-success-subtle border border-success-subtle rounded-5">
			<div class="row gx-2">
{#				{% for tag in article.tags %}#}
				<div id="tag_filtre">
					{{ form_start(form,{attr: {class: 'filter',id: 'tagFiltring'}}) }}
					{{ form_row(form.tags) }}
					{{ form_end(form) }}
				</div>

				{% for article in pagination %}
					<div class="col ms-5">
						<div class="p-5">
							<div class="card" style="width: 17rem;">
								<img src="https://gifdb.com/images/high/shrek-meme-screaming-donkey-scared-shower-cap-o0eurbrdua67nj24.gif" alt="fun">
								<div class="card-body">
									<h5 class="card-title">{{ article.title }}</h5>
									<p class="card-text">{{ article.description }}</p>
									{% for tag in article.tags %}
										<p class="card-text btn btn-warning">{{ tag }}</p>
									{% endfor %}
									<p class="card-text">{{ article.created|date("d/m/Y H:i:s") }}</p>
									<a href="{{ path('article_details', { id : article.id }) }}" class="btn btn-primary">Détails</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

				<div class="d-flex justify-content-center">

				{{ knp_pagination_render(pagination) }}

				</div>

				<div class="d-flex justify-content-center">
						{{ form_start(forme) }}
						{{ form_row(forme) }}
						{{ form_end(forme) }}
				</div>

			</div>

		</div>

	</main>

	<footer>
		<div class="mt-2 text-center p-3 text-warning-emphasis bg-success-subtle border border-success-subtle rounded-5"><h4>Merci de votre visite et à bientot !</h4></div>
		<div class="text-center">Tous droits réservés(r)</div>
	</footer>
	<script src="{{ asset( 'js/script.js ') }}"></script>
{% endblock %}
