{% extends "base.html.twig" %}

{% block body %}
	<header>
		<h1 class="text-center p-3 text-warning-emphasis bg-success-subtle border border-success-subtle rounded-5">Bobtche's Blog</h1>
	</header>
	<blockquote class="blockquote text-center">
		<p class="mb-2">Bienvenue à toi sur ce blog mon ami !</p>

	<footer class="blockquote-footer">Leonardo DiCaprio
		<cite title="Source Title">- Once upon a time in Hollywood...</cite>
	</footer>
	</blockquote>
	<main>

		<div class="d-flex justify-content-center">
			<button class="btn btn-info">
				<a href="{{path('article_create')}}" style="text-decoration:none;">Créer article</a>
			</button>
		</div>

		<div id="calli" class="container px-4">
			<div class="row gx-2">
{#				{% for tag in article.tags %}#}
					{{ form_start(form,{attr: {class: 'filter'}}) }}
					<p>{{ form_row(form.tags) }}</p>
					{{ form_end(form) }}
{#				{% endfor %}#}
{#				{{ form_start(form) }} #}
{#				<p>{{ form_row(form.tags) }}</p>#}
{#				{{ form_end(form) }}#}

				{% for article in articles %}
					<div class="col ms-5">
						<div class="p-5">
							<div class="card" style="width: 17rem;">
								<img src="https://www.thenurseryhrpeople.co.uk/wp-content/uploads/2016/11/Fun-In-The-Workplace.jpg" alt="fun">
								<div class="card-body">
									<h5 class="card-title">{{ article.title }}</h5>
									<p class="card-text">{{ article.description }}</p>
									{% for tag in article.tags %}
										<p class="card-text btn btn-warning">{{ tag }}</p>
									{% endfor %}
									<p class="card-text">{{ article.created|date("d/m/Y H:i:s") }}</p>
									<a href="{{ path('article_details', { id : article.id }) }}" class="btn btn-primary">Détails</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>

	<footer>
		<div class="text-center"><h4>Pour un coaching veuillez contacter le 0666666666</h4></div>
	</footer>   
{% endblock %}
