{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="divGeneralDetail pt-3" style="padding-bottom: 4em" >

{#	<h3 class="font container border border-warning-subtle text-center rounded-3" >Détails :</h3>#}
    <h3 class="font text-center fw-bold">{{ article.title }}</h3>
    <div class="text-center mt-3 mb-3">
        <img width="270" height="300" src="{{ asset('uploads/' ~ article.image) }}" alt="avion"/>
    </div>
	<p class="font container text-center mb-4" style="max-width: 70%; font-family: 'Baskerville Old Face',sans-serif">{{ article.description }}</p>


{#	{% if app.user is same as(role) or is_granted('ROLE_ADMIN')%}#}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="d-flex justify-content-center mb-4" >
			<a id="font" class="btn btn-primary" href="{{path('article_edit', { id : article.id }) }}">Modifier</a>
{#			<a id="font" class="btn btn-primary ms-3" href="{{path('article_delete', { id : article.id }) }}" onclick="deleteAlert()">Supprimer</a>#}
		</div>
	{% endif %}

	<div class="container text-center border border-dark-subtle rounded-2" style="max-width: 70%">
		<p class="font mt-2">Dernière modification le {{ article.updated|date("d/m/Y H:i:s") }}</p>
		<p class="font mb-2">Nombre de vues : {{ article.view }}</p>
	</div>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class="font mt-3 container text-center" id="divCommentary">
			<div class="container">
				{{ form_start(form) }}
				<p id="textarea1">{{ form_widget(form.comment) }}</p>
				<div class="d-flex justify-content-center mb-5">
					<p class="text-center mb-5">{{ form_row(form.save) }}</p>
				</div>
				{{ form_end(form) }}
			</div>
		</div>

	{% elseif is_granted('IS_AUTHENTICATED_FULLY') is same as( false )  %}
		<div class="d-flex justify-content-center mt-5">
			Pour modifier des articles ou laisser des commentaires &nbsp<a href="{{path('app_login')}}" style="text-decoration:none;color: yellowgreen">connectez vous &nbsp</a> ou &nbsp<a href="{{path('inscription')}}" style="text-decoration:none;color: yellowgreen;">créez un compte</a>&nbsp!
		</div>
	{% else %}
	{% endif %}

	<div class="container" style="margin-bottom: 5em;">
		{% for commentary in commentaries %}
		<p class="font card-text">{{ commentary.created|date("d/m/Y H:i:s") }}</p>
		<p class="font card-text">{{ commentary.comment }}</p>

		{% endfor %}
	</div>

	<script>
		function deleteAlert() {
			if (confirm("Etes-vous sûr de supprimer cet article ?") === true) {
				return true;
			} else {
			event.stopPropagation();
			event.preventDefault();
			}
	}
	</script>
</div>
{% endblock %}
